<h1>Fan</h1>
<hr>
<div class="container">
     <form (ngSubmit) = "save(form)" #form = "ngForm">
       <div class="row">
           <div class="col-md-6">
                <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text"
                            class="form-control"
                            [(ngModel)]="fan.name"
                            name="name"
                            placeholder="Ingrese el nombre"
                            required>
                    </div>
                
                    <div class="form-group">
                        <label for="lastName">Apellido</label>
                        <input type="text"
                            class="form-control"
                            [(ngModel)]="fan.lastName"
                            name="lastName"
                            placeholder="Ingrese el apellido"
                            required>
                    </div>
           </div>
           <div class="col-md-6">
                <div class="form-group">
                        <label for="cedula">Cedula</label>
                        <input type="text"
                            class="form-control"
                            [(ngModel)]="fan.cedula"
                            name="cedula"
                            placeholder="Ingrese la cedula"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="team">Equipo</label>
                        <input type="text"
                            class="form-control"
                            [(ngModel)]="fan.TeamId"
                            name="TeamId"
                            placeholder="Ingrese el Equipo"
                            required>
                    </div>
           </div>
        </div>
               <div class="form-group">
                    <button  class="btn btn-primary w-25" type="submit">
                         Enviar
                    </button>              
                 </div>
    </form>
</div>

    
    
   
