<div class="container">
    <div class="row">
        <div class="col-md-3 text-center p-2" >

                <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">
                                <h4>{{teams[0].name}}</h4>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let teamFan of TeamFans1" (click)="asignarFan(teamFan)">
                            <th scope="row">
                                {{teamFan.name}} {{teamFan.lastName}}
                            </th>
                          </tr>
                        </tbody>
                </table>
        </div>
        <div class="col-md-1">
            <button (click)="changeTeam(2)" class="btn btn-outline-info btn-sm m-1 mt-5">-></button>
            <button (click)="changeTeam(1)" class="btn btn-outline-info btn-sm m-1"><-</button>
        </div>
        <div class="col-md-4 text-center p-2" >

                <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">
                                <h4>{{teams[1].name}}</h4>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  *ngFor = "let teamFan of TeamFans2" (click)="asignarFan(teamFan)">
                            <th scope="row" >
                                {{teamFan.name}} {{teamFan.lastName}}
                            </th>
                          </tr>
                        </tbody>
                </table>
        </div>
        <div class="col-md-1">
            <button (click)="changeTeam(3)" class="btn btn-outline-info btn-sm m-1 mt-5">-></button>
            <button (click)="changeTeam(2)" class="btn btn-outline-info btn-sm m-1"><-</button>
        </div>
        <div class="col-md-3 text-center p-2" >

                <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">
                                <h4>{{teams[2].name}}</h4>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let teamFan of TeamFans3" (click)="asignarFan(teamFan)">
                            <th scope="row">
                                {{teamFan.name}} {{teamFan.lastName}}
                            </th>
                          </tr>
                        </tbody>
                </table>
        </div>
        
    </div>
</div>
